@using System.Web.Optimization
@model ForgotPasswordVm

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Areas/ControlPanel/Views/Shared/_LayoutAuth.cshtml";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name" style="font-size: 10em">@StaticValues.SiteFirstName</h1>
            <h1 class="logo-name" style="font-size: 8em;margin-top:-22px">@StaticValues.SiteLastName</h1>
        </div>
        <p>Enter your email to reset the password.</p>

        @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { id = "frm", @class = "m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()


            var allErrors = ViewData.ModelState.Values.SelectMany(v => v.Errors);
            var modelErrors = allErrors as ModelError[] ?? allErrors.ToArray();
            if (modelErrors.Any())
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var item in modelErrors)
                    {
                        @: <a class="alert-link" href="#">Alert : </a> @item.ErrorMessage
                        @: <br />
                    }
                </div>
            }

            if (Model.IsShowSuccessMessage)
            {
                <div class="alert alert-success">
                    <a class="alert-link" href="#">Email Sent in your inbox. </a> <br /> Please check your email for more information.
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.TextBoxFor(s => s.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>

                <button type="button" class="ladda-button btn btn-primary block full-width m-b" data-style="expand-right">Forgot Password?</button>
            }
            <p class="text-muted text-center">Yes! I remember my password.</p>
            <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Auth")">Login</a>

        }
        <p class="m-t"> <small>Copyright @StaticValues.SiteFirstName@StaticValues.SiteLastName &copy; 2019</small> </p>
    </div>
</div>


@Styles.Render("~/plugins/laddaStyles")

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/passwordMeter")
    @Scripts.Render("~/plugins/ladda")


    <script type="text/javascript">
        $(document).ready(function () {
            $('.ladda-button').ladda().click(function () {
                $(this).ladda('start');
                $('#frm').submit();
            });
        });

    </script>
}

