@model ColorPageVm
@{
    var type = "Add";
    if (Model.ColorId != 0)
    {
        type = "Edit";
    }
    ViewBag.Title = type + " - color";
    ViewBag.H1Title = "Sample";
    ViewBag.MtDescription = "";
    ViewBag.MtKeywords = "";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>
            Color
            @if (type == "Edit")
            {
                <a class="btn btn-primary btn-xs pull-right" href="@Url.Action("Index", "Color", new { area = "ControlPanel" , @id = string.Empty})"><i class="fa fa-plus"></i> Add</a>
            }
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0)">Color</a>
            </li>
            <li class="active">
                <strong>@type</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-md-12">
            @Html.Partial("~/Areas/ControlPanel/Views/Shared/_AlertPanel.cshtml")
        </div>

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="m-t-none m-b">@type Color Details</h3>

                    @using (Html.BeginForm(@type, "Color", new { area = "ControlPanel" }, FormMethod.Post, new { id = "frm" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ColorId)

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Color Name</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Color Name" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Hex</label>
                                    @Html.TextBoxFor(m => m.Hex, new { @class = "form-control", @id = "Hex", placeholder = "Hex " , @readonly = "readonly"})
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">@type changes</button>
                                    <button class="btn btn-default" type="reset">Reset</button>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Color Name</th>
                                <th width="5%">Color</th>
                                <th width="15%">Hex</th>
                                <th width="15%" data-orderable="false">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.colorDetails.Any())
                            {
                                foreach (var item in Model.colorDetails)
                                {
                                    <tr id="@item.ColorId">
                                        <td>@item.Name</td>
                                        <td class="text-center"><i class="fa fa-square" style="color: @item.Hex"></i></td>
                                        <td>@item.Hex</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="@Url.Action("Index", "Color", new {id = item.ColorId})" class="btn-white btn btn-xs">Edit</a>
                                                <button class="btn-default btn btn-xs" onclick="Delete(@item.ColorId)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Color Name</th>
                                <th></th>
                                <th>Hex </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/Backend/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/Backend/plugins/colorpicker/colorpickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/colorpicker")

    @*Datatable plugin*@
    <script type="text/javascript">

        var table;
        $(document).ready(function () {

            $('.dataTables-example tfoot th').each(function () {
                var title = $(this).text();
                if (title.length !== 0) {
                    $(this).html('<input class="footer-form-control" type="text" placeholder="' + title + '" />');
                }
            });

            // DataTable
            table = $('.dataTables-example').DataTable({
                "pageLength": 5
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#frm").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Hex: {
                        required: true
                    }
                }
            });

        });
    </script>

    <script>

        var Delete = function (id) {
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: "@Url.Action("Delete", "Color", new { area = "ControlPanel" })",
                    type: "POST",
                    data: { id: id },
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            table.row("#" + id).remove().draw();
                            swal(data.message, "", "success");
                        } else {
                            swal(data.message, "", "error");
                        }
                    },
                    error: function () {
                        swal(data.message, "", "error");
                    }
                });
            });
        }

    </script>
    
    <script>
        $('#Hex').colorpicker();
    </script>
}