
@{
    ViewBag.Title = "Add - product";
    ViewBag.H1Title = "Product";
    ViewBag.MtDescription = "";
    ViewBag.MtKeywords = "";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Product(s)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Product")">Product</a>
            </li>
            <li class="active">
                <strong>Add</strong>
            </li>
        </ol>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <form id="frm">
        <div class="tabs-container ctabcontainer">
            <ul class="nav nav-tabs" id="ProductTab">
                <li id="li_0" class="active"><a href="javascript:void(0)"> Product info</a></li>
                <li id="li_1" class=""><a href="javascript:void(0)">Size & Stock</a></li>
                <li id="li_2" class=""><a href="javascript:void(0)">Description(s)</a></li>
                <li id="li_3" class=""><a href="javascript:void(0)">Images</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body ">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Category</label>
                                @Html.DropDownList("CategoryId", CommonFunctions.GetCategories(0, true), new { @class = "chosen-select", placeholder = "Size Name" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Brand</label>
                                @Html.DropDownList("BrandId", CommonFunctions.GetBrand(0), new { @class = "chosen-select", placeholder = "Size Name" })
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>MRP</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">
                                        Rs
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Price</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">
                                        Rs
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>GST</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon">
                                        <span class="fa fa-percent"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tag</label>
                                <input type="text" class="tagsinput form-control">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <a onclick="toggleTab(1)" data-toggle="tab" href="#tab-2" class="btn btn-primary" type="button">Save & Next <i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <table class="table table-stripped table-bordered" id="tblProductSizeQtyClone">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DropDownList("ProductSize", CommonFunctions.GetSize(0), new { @class = "form-control requiredField", placeholder = "Size Name" })
                                    </td>
                                    <td>
                                        <select id="ProductColor" name="ProductColor" class="form-control requiredField">
                                            @foreach (var color in CommonFunctions.GetColor())
                                            {
                                                if (color.ColorId == 0)
                                                {
                                                    <option>@color.Name</option>
                                                }
                                                else
                                                {
                                                    <option style='color:@color.Hex;' value="@color.ColorId">@color.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="ProductQuantity" type="number" class="form-control requiredField" placeholder="10">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="ProductDiscount" type="text" class="form-control requiredField" placeholder="3">
                                            <span class="input-group-addon">
                                                <span class="fa fa-percent"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group date">
                                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group date">
                                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button onclick="DeleteRow(this)" class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-stripped table-bordered" id="tblProductSizeQty">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 18%">
                                        Size
                                    </th>
                                    <th class="text-center" style="width: 18%">
                                        Color
                                    </th>
                                    <th class="text-center" style="width: 12%">
                                        Quantity
                                    </th>
                                    <th class="text-center" style="width: 12%">
                                        Discount
                                    </th>
                                    <th class="text-center" style="width: 20%">
                                        Date Start
                                    </th>
                                    <th class="text-center" style="width: 20%">
                                        Date End
                                    </th>
                                    <th style="width: 4%">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DropDownList("ProductSizeId_0", CommonFunctions.GetSize(0), new { @class = "form-control requiredField", placeholder = "Size Name" })
                                    </td>
                                    <td>
                                        <select id="ProductColor_0" name="ProductColor_0" class="form-control requiredField">
                                            @foreach (var color in CommonFunctions.GetColor())
                                            {
                                                if (color.ColorId == 0)
                                                {
                                                    <option>@color.Name</option>
                                                }
                                                else
                                                {
                                                    <option style='color:@color.Hex;' value="@color.ColorId">@color.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="ProductQuantity_0" type="number" class="form-control requiredField" placeholder="10">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input name="ProductDiscount_0" type="text" class="form-control requiredField" placeholder="3">
                                            <span class="input-group-addon">
                                                <span class="fa fa-percent"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group date">
                                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group date">
                                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button onclick="DeleteRow(this)" class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a onclick="toggleTab(0)" data-toggle="tab" href="#tab-1" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Previous</a>
                                    <a onclick="toggleTab(2)" data-toggle="tab" href="#tab-3" class="btn btn-primary">Save & Next <i class="fa fa-chevron-right"></i></a>
                                    <button class="btn btn-primary" type="button" onclick="AddNewLine()"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Short description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="editor1" rows="10" cols="80">
                                                This is my textarea to be replaced with CKEditor.
                                </textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <a onclick="toggleTab(1)" data-toggle="tab" href="#tab-2" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Previous</a>
                                <a onclick="toggleTab(3)" data-toggle="tab" href="#tab-4" class="btn btn-primary">Save & Next <i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">

                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="10%">
                                                Preview
                                            </th>
                                            <th width="10%" class="text-center">
                                                Sort order
                                            </th>
                                            <th width="8%" class="text-center">
                                                Cover
                                            </th>
                                            <th data-orderable="false" class="text-center" width="8%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Add a new image to this product</label><br />
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file">
                                        <span><i class="fa fa-plus"></i> Add File (s)</span>
                                        <input type="file" name="..." multiple="" onchange="readMultipleImage(this)" />
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <a onclick="toggleTab(2)" data-toggle="tab" href="#tab-3" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Previous</a>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/Backend/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/Backend/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ckeditor")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/tagInputs")

    @*Ckeditor Plugin*@
    <script>
        CKEDITOR.replace('editor1');

        CKEDITOR.instances.editor1.on('change',
            function () {
                CKEDITOR.instances.editor1.updateElement();
            });
    </script>

    @*Datatable plugin*@
    <script type="text/javascript">

        var table;
        $(document).ready(function () {

            var cdate = new Date();

            $('.date').datepicker({
                defaultDate: cdate,
                todayBtn: "linked",
                keyboardNavigation: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy',
                startDate: cdate
            });

            $("#tblProductSizeQtyClone").hide();

            table = $('.dataTables-example').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });

            $('.dataTables-example tbody').on('click',
                '.btnDeleteImage',
                function () {
                    var rowcount = table.rows().count();
                    if ($(this).closest("tr").find("input.coverImage").prop("checked") && rowcount > 1) {
                        table.row($(this).parents('tr')).remove().draw();
                        $('.dataTables-example tbody').find("tr:first").find("input.coverImage")
                            .prop("checked", "checked");
                    } else {
                        table.row($(this).parents('tr')).remove().draw();
                    }
                });

            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>

    <script>

        function readMultipleImage(input) {
            if (input.files) {
                var filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var currentCount = table.rows().count() + 1;
                        var checked = "";

                        if (currentCount === 1) {
                            checked = "checked";
                        }

                        var jRow = "<tr><td class='text-center align-middle'><img id='categoryImage' src='" +
                            e.target.result +
                            "' alt='your image' width='48' height='48'></td><td class='align-middle'><input type='text' class='form-control srcount' value='" +
                            currentCount +
                            "'></td><td  class='text-center  align-middle' ><input type='radio' class='form-control coverImage' name='coverImage' " +
                            checked +
                            "></td><td class='text-center  align-middle'><button class='btn btn-white btnDeleteImage'><i class='fa fa-trash'></i> Delete</button></td></tr>";

                        table.row.add($(jRow)).draw();
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

    </script>

    <script>
        var AddNewLine = function () {
            $("#tblProductSizeQty").find("#nodatafound").remove();
            if ($("#frm").valid()) {
                var row = $.trim($("#tblProductSizeQtyClone").find("tbody").html());
                var existingCount = $("#tblProductSizeQty").find("tbody tr").length;

                row = row.replace(/ProductSize/g, "ProductSize_" + existingCount);
                row = row.replace(/ProductColor/g, "ProductColor_" + existingCount);
                row = row.replace(/ProductQuantity/g, "ProductQuantity_" + existingCount);
                row = row.replace(/ProductDiscount/g, "ProductDiscount_" + existingCount);
                //row = row.replace(/ChosenSelect/g, "ChosenSelect_" + existingCount);

                $("#tblProductSizeQty").find("tbody").append(row);
                //$('.ChosenSelect_' + existingCount).chosen({ width: "100%" });
            } else {
                swal("please fill up all required field(s)", "", "error");
            }
        }

        var DeleteRow = function (obj) {
            $(obj).closest("tr").remove();
            var existingCount = $("#tblProductSizeQty").find("tbody tr").length;
            if (existingCount == 0) {
                $("#tblProductSizeQty").append("<tr id='nodatafound' class='text-center'><td colspan='7'>No Data Found..</td></tr>");
            }
        }

    </script>

    @*Jquery Validation*@
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.addClassRules("requiredField",
                {
                    required: true
                });
        });
    </script>

    @*Taginput plugin*@
    <script type="text/javascript">

        $(document).ready(function () {
            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });
        });

        var toggleTab = function (id) {
            $("#ProductTab").find("li").removeClass("active");
            $("#ProductTab").find("#li_" + id).addClass("active");
        }
    </script>

}